{% extends "main.html" %}
{% block content %}
<header class="row">
	<div class="col-md-6">
		<h1>Edit {{item.name}}</h1>
	</div>
</header>

<div class="row">
	<div class="col-md-12">
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<form action="{{url_for('editItems', catalog_id=catalog.id, item_id=item.id)}}" method="post">
			<h3>Name:</h3>
			<input type="text" name="name" value="{{item.name}}">
			<h3>Description:</h3>
			<!--<input type="text" name="description" value="{{item.description}}">-->
			<textarea maxlength="300" name="description" rows="7" cols="70">{{item.description}}</textarea>
			<input type="submit" value="Save">
		</form>
	</div>
	<div class="col-md-6">
		<a href="{{url_for('showItems', catalog_id=catalog.id)}}"><h3>Back</h3></a>
	</div>
</div>
{% endblock %}